$accent-color: #ff5f1b;
$accent-color-maybedark: #b84c1e;
$accent-color-dark: #712b0c;
$accent-color-darker: #232120;
$background-color: #161515;
$background-color-dark: #111010;
$outline-color: #333131;
$button-text-color: #807a7a;